{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- nessages 표시-->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}

    <!-- 질문 -->
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ question.author.username }}</div>
                    <div>{{ question.create_date }}</div>
                </div>
            </div>
            <div class="my-3">
                {% if request.user == question.author %}
                <a href="{% url 'marc:question_modify' question.id  %}"
                   class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                   data-uri="{% url 'marc:question_delete' question.id  %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- 답변 -->
    <h5 class="border-bottom my-3 py-2">{{ question.answer_set.count }} 개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
            <div class="d=flex justify-content-end">
                <div class="badge bh-light text-dark p-2">
                    {{ answer.create_date }}
                </div>
            </div>
            <div>
                {% if request.user == answer.author %}
                <a href="{% url 'marc:answer_modify' answer.id %}" class="btn btn-sm btn-outline-secondary ">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'marc:answer_delete' answer.id %}">삭제</a>
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}

    {% if messages %}
    <ul class="absolute mx-auto left-1/2 top-0 -translate-x-2/4 flex justify-center">
        {% for message in messages %}
        <li class="message opacity-40  bg-gray-700 rounded-full px-6 py-4 font-medium text-black {% if message.tags %} {{ message.tags }} {% endif %}">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <!--
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %} -->

    <script>
    window.setTimeout(function() {
        $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);
    </script>


    <!-- 답변 등록 -->
    <form action="{% url 'marc:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="content" class="form-label">답변내용</label>
            <textarea {% if not user.is_authenticated %} disabled {% endif %}
                      name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary">
        <!--        <div class="form-group">-->
        <!--            <textarea name="content" id="content" class="form-control" rows="10"></textarea>-->
        <!--        </div>-->
        <!--        <input type="submit" value="답변등록" class="btn btn-primary">-->


        <!--        <div class="mb-3">-->
        <!--            <label for="subject" class="form-label">제목</label>-->
        <!--            <input type="text" class="form-control" name="subject" id="subject"-->
        <!--            value="{{ form.subject.value|default_if_none:'' }}">-->
        <!--        </div>-->
        <!--        <div class="mb-3">-->
        <!--            <label for="content" class="form-control">내용</label>-->
        <!--            <textarea class="form-control" name="content"-->
        <!--                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>-->
        <!--        </div>-->
        <!--        <button type="submit" class="btn btn-primary">저장하기</button>-->
        <!--        <div class="mb-3">-->
        <!--            <label for="count" class="form-label">답변내용</label>-->
        <!--            <textarea name="content" id="content" class="form-control" rows="'10"></textarea>-->
        <!--            <input type="submit" value="답변등록" class="btn btn-primary my-3">-->
        <!--        </div>-->
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}