{% extends 'base.html' %}
{{ form.media }}

{% block script %}
<script type="text/javascript">
	function rcSearch(value) {
	    console.log(value, "!!");

	    var selectedValue = document.getElementById(value);
		var selectedIndex = document.getElementById(value).options.selectedIndex;
		console.log("selected value : " + selectedValue.options[selectedIndex].value);
	}

    $("#relate_Competency").change(function() {
      if ($(this).data('options') == undefined) {
        /*Taking an array of all options-2 and kind of embedding it on the relate_Competency*/
        $(this).data('options', $('#education_part option').clone());
        $(this).data('options', $('#education_part option').clone());
      }
      var id = $(this).val();
      var options = $(this).data('options').filter('[value=' + id + ']');
      $('#education_part').html(options);
      console.log('options', options[0]);
    });

    $(function () {
        $("#datetimepicker1").datetimepicker();
    });



</script>
{% endblock %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">교육등록</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
       <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3 label-text">
            <label for="name" class="form-label">이름</label>
            <input style="width:10rem; white-space: nowrap;" type="text" placeholder="김상현" class="form-control"
                   name="name" id="name"
                   value="{{ form.name.value|default_if_none:'' }}">
        </div>
        <div class="mb-3 label-text">
            <label for="job_grade">직급</label>
            <select name="job_grade" id="job_grade" onclick="rcSearch('job_grade')">
                <option value=""></option>
                <option value="9급">9급</option>
                <option value="8급">8급</option>
                <option value="7급">7급</option>
                <option value="6급">6급</option>
                <option value="5급">5급</option>
                <option value="4급">4급</option>
            </select>
        </div>
        <div class="mb-3 label-text">
            <label for="department">부서명</label>
            <select name="department" id="department" data-recovery="경영지원부" onclick="rcSearch('department')">
                <option value=""></option>
                <option value="경영지원부">경영지원부</option>
                <option value="안전관리부">안전관리부</option>
                <option value="청렴감사부">청렴감사부</option>
                <option value="체육사업부">체육사업부</option>
                <option value="교통사업부">교통사업부</option>
                <option value="도시환경부">도시환경부</option>
                <option value="공공사업부">공공사업부</option>
            </select>
            <!--            <input type="text" class="form-control" name="department" id="department"-->
            <!--                   value="{{ form.department.value|default_if_none:'' }}">-->
        </div>
        <div class="mb-3 label-text">
            <label for="relate_Competency">관련역량</label>
            <select name="relate_Competency" id="relate_Competency" onclick="rcSearch('relate_Competency')">
                <option value=""></option>
                <option value="법정교육">법정교육</option>
                <option value="공통역량">공통역량</option>
                <option value="역할역량">역할역량</option>
                <option value="직무역량">직무역량</option>
                <option value="기타역량">기타역량</option>
            </select>
        </div>
        <div class="mb-3 label-text">
            <label for="education_part">교육분야</label>
            <select name="education_part" id="education_part" onclick="rcSearch('education_part')">
                <option value=""></option>
                <option value="법정교육">4대폭력예방</option>
                <option value="법정교육">장애인식개선</option>
                <option value="법정교육">개인정보</option>
                <option value="법정교육">아동학대예방</option>
                <option value="법정교육">부패방지, 청렴</option>
                <option value="법정교육">산업안전보건</option>
                <option value="법정교육">정보공개</option>
                <option value="법정교육">퇴직연금</option>
                <option value="법정교육">기타</option>

                <option value="공통역량">ESG 경영</option>
                <option value="공통역량">중대재해처벌법</option>
                <option value="공통역량">기타</option>
                <option value="공통역량">직장 내 괴롭힘 방지</option>
                <option value="공통역량">고객/수혜자지향</option>
                <option value="공통역량">기타</option>

                <option value="역할역량">신입직원</option>
                <option value="역할역량">셀프리더십</option>
                <option value="역할역량">여성리더</option>
                <option value="역할역량">중간관리자</option>
                <option value="역할역량">고위경영자</option>
                <option value="역할역량">CEO 리더십</option>
                <option value="역할역량">멘토링</option>
                <option value="역할역량">기타</option>

                <option value="직무역량">직무 전문교육</option>
                <option value="직무역량">실무자과정</option>
                <option value="직무역량">생애주기별</option>
                <option value="직무역량">힐링&문화</option>
                <option value="직무역량">기타</option>
                <option value="직무역량">직무역량</option>

                <option value="기타역량">개인소양</option>
                <option value="기타역량">봉사활동</option>
                <option value="기타역량">헌혈</option>
            </select>
        </div>
        <div class="mb-3 label-text">
            <label for="education_type">교육유형</label>
            <select name="education_type" id="education_type" data-recovery="기타" onclick="rcSearch('education_type')">
                <option value=""></option>
                <option value="집합교육">집합교육</option>
                <option value="직장교육(초빙강사)">직장교육(초빙강사)</option>
                <option value="직장교육(부서자체)">직장교육(부서자체)</option>
                <option value="현장교육">현장교육</option>
                <option value="이러닝">이러닝</option>
                <option value="워크숍">워크숍</option>
                <option value="맨토, 코치활동">맨토, 코치활동</option>
                <option value="봉사활동, 헌혈">봉사활동, 헌혈</option>
                <option value="제안">제안</option>
            </select>
            <!--            <input type="text" class="form-control" name="department" id="department"-->
            <!--                   value="{{ form.department.value|default_if_none:'' }}">-->
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label label-text">교육명</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label label-text">교육내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>

        <div class="mb-3 input-group date" id="datetimepicker1" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>

        <div class="mb-3">
            <label for="education_start" class="form-label label-text">교육시작</label>
            <input autocomplete="off" type="text" id="datepicker" name="formdate"/>
            <input type="text" class="form-control" name="education_start" id="education_start"
                   value="{{ form.education_start.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="education_end" class="form-label label-text">교육종료</label>
            <input type="text" class="form-control" name="education_end" id="education_end"
                   value="{{ form.education_end.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="education_time" class="form-label label-text">교육시간</label>
            <input type="text" class="form-control" name="education_time" id="education_time"
                   value="{{ form.education_time.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="education_cost" class="form-label label-text">교육비용</label>
            <input type="text" class="form-control" name="education_cost" id="education_cost"
                   value="{{ form.education_cost.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="certificate_item" class="form-label label-text">증빙자료</label>
            <input type="text" class="form-control" name="certificate_item" id="certificate_item"
                   value="{{ form.certificate_item.value|default_if_none:'' }}">
        </div>
        <br/>
        <br/>
        <div class="mb-3 label-text">
            <label for="content" class="form-label label-text">첨부 파일1</label>
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <input type="file" class="form-control" name="docfile1" id="docfile1"
                   value="{{ form.docfile1.value }}">
        </div>

        <div class="mb-3 label-text">
            <label for="content" class="form-label label-text">첨부 파일2</label>
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <input type="file" class="form-control" name="docfile2" id="docfile2"
                   value="{{ form.docfile2.value }}">
        </div>


        <div>

        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}

